apiVersion: v1
kind: ServiceAccount
metadata:
  name: nfs-client-provisioner
  namespace: {{nfsClientNamespace}}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-client-provisioner
  labels: 
    nfs-client-provisioner: "nfs-client-provisioner"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: nfs-client-provisioner
  capacity:
    storage: 10Mi
  mountOptions:
    - rw
    - hard
    - bg
    - intr
  nfs:
    path: "{{nfsExportedPath}}"
    server: "{{nfsServer}}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-client-provisioner
  namespace: {{nfsClientNamespace}}
spec:
  storageClassName: nfs-client-provisioner
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi
  selector:
    matchLabels:
      nfs-client-provisioner: "nfs-client-provisioner"
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: nfs-client-provisioner
  namespace: {{nfsClientNamespace}}
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: quay.io/external_storage/nfs-client-provisioner:latest
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: {{nfsProvisionerName}}
            - name: NFS_SERVER
              value: "{{nfsServer}}"
            - name: NFS_PATH
              value: "{{nfsExportedPath}}"
      volumes:
        - name: nfs-client-root
          persistentVolumeClaim:
            claimName: nfs-client-provisioner
